<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>Tentang</h2>
            <p>Saya mahasiswa Teknik Informatika di Universitas Nahdlatul Ulama Indonesia. Terampil dalam mengoperasikan Office, HTML, CSS, PHP, JavaScript, Python, MySQL dan Server.</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="@Url.Content("../../assets/img/profile-img.png")" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Biodata Saya</h3>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Nama:</strong> <span>Muhamad Rizki Maulana</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Lahir:</strong> <span>19 Agustus 2002</span></li>
                            <!--<li><i class="bi bi-chevron-right"></i> <strong><a href="https://mrizk.my.id/" style="color: white;">Website:</a></strong> <span><a href="https://mrizk.my.id/" style="color: white;">mrizk.my.id</a></span></li>-->
                            <li id="umur_elemen"><i class="bi bi-chevron-right"></i> <strong>Umur:</strong> <span>Menunggu input tanggal lahir...</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong><a href="tel:087788132326" style="color: white;">Telepon:</a></strong> <span><a href="https://wa.me/6287788132326" style="color: white;">+62 877-8813-2326</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong><a href="mailto:me@mrizk.my.id" style="color: white;">Email:</a></strong> <span><a href="mailto:me@mrizk.my.id" style="color: white;">me@mrizk.my.id</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                        </ul>
                    </div>
                </div>
                <p>
                    <br>
                    Tertarik dalam IT Support, IT Programer, Web Developer, Web Development, Web Programer dan Full Stack Developer. Senang bekerja dalam tim, keinginan untuk belajar dan memiliki komunikasi yang baik.
                </p>
            </div>
        </div>

    </div>
</section>
