<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Muhamad Rizki Maulana</h1>
        <p>I'm <span class="typed" data-typed-items="Cloud Engineer, Freelancer, Full Stack Developer"></span></p>
    </div>
</section>