<section id="pendidikan" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Pendidikan</h2>
            <!--<p>Saat sedang berkuliah saya pernah berkecimpung dalam project pembelajaran, diantaranya sebagai berikut:</p>-->
        </div>
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <div class="resume-item ">
                    <h4>Universitas Nahdlatul Ulama Indonesia</h4>
                    <p><em>Teknik Informatika </em></p>
                    <h5>2020 - Sekarang</h5>
                    <ul>
                        <li>IPK saat ini 3,63</li>
                    </ul>
                </div>
                <div class="resume-item ">
                    <h4>SMAN 1 Klapanunggal</h4>
                    <p><em>IPA (Ilmu Pengetahuan Alama) </em></p>
                    <h5>2017 - 2020</h5>
                    <ul>
                        <li>Nilai rata-rata Ujian Sekolah 80</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
